{% extends 'base.html' %}

{% block head %}
<title>brassiere size!</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />

{% endblock %}

{% block body %}
<section class="index_title">
  <h1 class='index_h1'>AI test for girl's brassiere size</h1>
</section>

<section class='main container'>

  <div class="file-upload">
    
    <div class="image-upload-wrap">
      <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
      <div class="drag-text">
        <h3>Add Image</h3>
      </div>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-image" id='girl_body' src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="button" class="btn btn-outline-secondary remove-image" onclick="removeUpload()">RE?</button>
      </div>
    </div>
  </div>
  <section class='btn_1'> 
    
    <p id ='topic'>Let's predic!</p>
    <div class="spinner-border" id="spin" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <script>
       document.getElementById("spin").style.visibility = "hidden";
    </script>
    <p class ="result-messege"></p>
    <div id="label-container"></div>
    <div class="progress">
      <div class="progress-bar bg-success" id ="label-container0" role="progressbar" style="width: 0%" aria-valuenow="0"  aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-info" id ="label-container1" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-warning" id ="label-container2" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-danger" id ="label-container3" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
  </section>



</section>
  

{% endblock %}