{% extends 'base.html' %}

{% block head %}
<title>brassiere size!</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" />

{% endblock %}

{% block body %}
<div>supersymmetry-TEAM</div>
<div>supergravity and fermion</div>
<div>Email:zx0596@naver.com</div> 
<div>Icons made by </div>
<a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
<div>Main frame made by </div>
<a href="https://www.youtube.com/channel/UCQNE2JmbasNYbjGAcuBiRRg" title="Freepik">Jocoding</a> 

{% endblock %}
